baristaMenu {
  ion-col{
    padding: 5px;
  }
  .red {
    color: orangered;
  }
  .pending{
    color: indianred;
  }
  .complete{
    color: cornflowerblue;
  }
  .ready{
    color: mediumseagreen;
  }

  ion-row{
    ion-thumbnail{
      .item-thumbnail{
        height: 60px;
        width: 60px;
      }
    }
  }
}
