baristaMenu {
  ion-col{
    padding: 5px;
  }
  .red {
    color: orangered;
  }
  .pending{
    color: indianred;
  }
  .complete{
    color: cornflowerblue;
  }
  .ready{
    color: mediumseagreen;
  }
}
